<html>
<head>
  <title> Celebrity News MVP </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
.bg-custom-1 {
  background-color: #85144b;
}
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.rcorners2 {
  border-radius: 25px;
  border: 2px solid #FFAEBC;
  padding: 20px;
  height: 180px;
  margin: 50px;
}
img {
  max-width: 100%;
}
.rightside {
  display: flex;
  flex-direction: row-reverse;
}
.signin {
  position: absolute;
  right: 50px;
  margin-top: 30px;
}
.heading{
  margin-top: 50px;
}
.fa{
  font-size: 25px;
  margin-left:5px;
  margin-right:5px;
}
.top-left-nav{
  margin-left: 10px;
}
.footer-link{
  margin:5 5 5 5;
}
</style>
<nav class="navbar navbar-expand-sm">
  <div class ="top-left-nav"><a href= "./faq.html">Learn how to use Celebrity News Tracker!</a></div>

<h5 class="signin"><a href="./home.html">My Feed</a></h5>
</nav>
<body>

  <center>
    <h2 class='heading'>Today's hottest celebrity news</h2>
    <div class="rcorners2">
        <span class='rightside'>
          <button type="button" class="clipboard btn btn-light">Copy url</button>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </span>
      <div class="row">
        <div class = "col-2">
        <img style="height:110px;" src="{{entry1_image}}">
        </div>
        <div class ="col-10 text-left">
          <h3><a href="{{entry1_url}}">{{entry1_title}}</a></h3>
          <h5>{{entry1_summary}}</h5>
          <p>{{entry1_published}}</p>
        </div>
      </div>
      </div>
      <div class="rcorners2">
        <span class='rightside'>
          <button type="button" class="clipboard btn btn-light">Copy url</button>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </span>
        <div class="row">
          <div class = "col-2">
            <img style="height:110px;" src="{{entry2_image}}">
        </div>
        <div class ="col-10 text-left">
          <h3><a href="{{entry2_url}}">{{entry2_title}}</a></h3>
          <h5>{{entry2_summary}}</h5>
          <p>{{entry2_published}}</p>
        </div>
      </div>
    </div>
      <div class="rcorners2">
        <span class='rightside'>
          <button type="button" class="clipboard btn btn-light">Copy url</button>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </span>
        <div class="row">
          <div class = "col-2">
            <img style="height:110px;" src="{{entry3_image}}">
        </div>
        <div class ="col-10 text-left">
          <h3><a href="{{entry3_url}}">{{entry3_title}}</a></h3>
          <h5>{{entry3_summary}}</h5>
          <p>{{entry3_published}}</p>
        </div>
      </div>
    </div>
  </center>
  <footer>
    <center>
  <div class="sideway-footer">
    <span class ="footer-link"><a href= "#">About</span>
    <span class ="footer-link"><a href= "./privacy_policy.html">Privacy Policy</span>
    <span class ="footer-link"><a href= "./faq.html">FAQ</span>
    <span class ="footer-link"><a href= "./contact.html">Contact</span>
</div>
    <center>
  </footer>
</body>
<script>
var $temp = $("<input>");
var $url = $(location).attr('href');

$('.clipboard').on('click', function() {
  $("body").append($temp);
  $temp.val($url).select();
  document.execCommand("copy");
  $temp.remove();
  alert("URL copied!");
})
</script>
</html>
